.habilityContainer{
    text-align: center;    
    
    .imageContainer{

        height: 150px;
        overflow: hidden;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
